@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="jumbotron text-center bg-light">
    <div class="mt-3">
        <a href="https://cdn.discordapp.com/attachments/1196485692163895296/1248973774158565498/ts.png?ex=66659cf8&is=66644b78&hm=f4aa72585c6dc47f2dcf538b5085d8076552cf230cd729c2bc855c020bb749c0" target="_blank">
            <img src="https://cdn.discordapp.com/attachments/1196485692163895296/1248973774158565498/ts.png?ex=66659cf8&is=66644b78&hm=f4aa72585c6dc47f2dcf538b5085d8076552cf230cd729c2bc855c020bb749c0" alt="Logo" class="img-fluid" style="max-width: 100px;">
        </a>
    </div>
    <h1 class="display-4">Hoş Geldiniz</h1>
    <hr class="my-4" />
    <p>Daha fazla bilgi ve kodlar için aşağıdaki bağlantıya tıklayın:</p>
    <a class="btn btn-primary btn-lg d-flex align-items-center justify-content-center" href="https://github.com/mellunkolik" role="button" target="_blank">
        <img src="https://cdn.discordapp.com/attachments/1196485692163895296/1248970782420373517/kisspng-github-computer-icons-github-logo-5b459a3d238b60.4061479515312881251456.jpg?ex=66659a2f&is=666448af&hm=044827f3799e74077cc7bdafcc377e19c40855212ceab5a6ee8becbea8ddd54f" alt="GitHub" style="width: 20px; height: 20px; margin-right: 5px;">
        GitHub Hesabım
    </a>
</div>
